h1 {
  padding: 20px;
  color: white;
  text-align: center;

  @media (min-width: 400px) {
    text-align: left;
  }
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 400px) {
    flex-direction: row;
  }

  p {
    padding: 10px;
    border: 1px solid white;
  }
}
