.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $negro;
  padding: 0 20px;

  h1 {
    color: $blanco;
  }

  .navegacion {
    nav {
      padding: 20px 10px;

      a {
        color: $blanco;
        text-decoration: none;
      }
    }
  }
}
