.home {
  margin-top: 50px;

  // &__container {
  display: flex;
  justify-content: space-between;
  // }
}

.card {
  margin: 50px 100px;
}

.avatar {
  background-image: url("https://cde.laprensa.e3.pe/ima/0/0/2/1/2/212026.jpg");
  background-size: cover;
  background-position: center;
}

mat-card-actions {
  //   // display: flex;
  //   // justify-content: space-between;
  //   // align-items: center;

  //   div {
  display: flex;
  gap: 10px;
  justify-content: center;
  //   }
}

img {
  object-fit: cover;
}
