$primary: rgb(255, 123, 0);
$secondary: rgb(116, 116, 116);
$white: #eee;
$black: #333;

// General
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: linear-gradient(to top, $black, $white 50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

// Helper classes
.hidden {
  display: none;
  visibility: hidden;
}
.btn {
  border: 2px solid $primary;
  color: $primary;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 15px;
  cursor: pointer;
}
.btn:hover {
  transition: all 0.15s linear;
  background-color: $black;
  border-color: $black;
}

// PokemonFinder
.pokemonFinder__title,
.title {
  text-align: center;
  background-color: $black;
}
.title {
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  justify-self: flex-start;
}
.pokemonFinder__title {
  color: $primary;
  padding: 10px 0;
  margin-bottom: 20px;
  border-radius: 10px;
}
.pokemonFinder {
  padding: 20px 30px;
}
.pokemonFinder__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pokemonFinder__input--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.pokemonFinder__input {
  padding: 5px 15px;
  border: 2px solid $white;
  border-radius: 10px;
  text-align: center;
  transition: all 0.15s linear;
  font-size: 18px;
  color: $primary;
  width: 100%;
}
.pokemonFinder__input:focus {
  border-color: $primary;
  padding: 7.5px 15px;
  font-size: 20px;
}
.pokemonFinder__btnWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

// PokemonInfo
.pokemonInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $primary;
  border-radius: 10px;
  margin: 20px;
  padding: 40px 0;
}
.pokemonInfo h2 {
  color: $primary;
  margin-bottom: 20px;
}
h4 {
  font-size: 18px;
}
